.sinprodwrap {
    border-radius: 15px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .topimgwrapper {
        padding: 15px;
        .productimg {
            position: relative;
            width: 100%;
            height: 180px;
            overflow: hidden;
            border-radius: 15px;
            img {
                z-index: 1;
            }
        }
    }
    .bottomprodata {
        padding: 0 15px;
        h3 {
            font-size: 18px;
            margin: 0;
        }
        .price {
            font-size: 16px;
            margin: 15px 0;
            span {
                padding-right: 10px;
                &.reguler {
                    font-weight: bold;
                }
                &.sales {
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }
        .addtocartbtns {
            .addtocartbuttonswrap {
                padding: 0 0 15px;
                border: 0;
                .quntitywrapper {
                    width: 90px;
                }
                .rightbtnwrapper {
                    width: calc(100% - 90px);
                }
            }
        }
    }
}

@media (min-width: 1024px){
    .sinprodwrap{
        .topimgwrapper{
            .productimg{
                height: 150px;
            }
        }
        .bottomprodata{

            .addtocartbtns{
                .addtocartbuttonswrap{
                    .rightbtnwrapper{
                        width: 100%;
                        padding: 0;
                        margin: 15px 0 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .sinprodwrap{
        border-radius: .8vw;
        .topimgwrapper{
            padding: 1vw;
            .productimg{
                border-radius: .8vw;
                height: 12vw;
            }
        }
        .bottomprodata{
            padding: 0 1vw;
            h3{
                font-weight: 500;
                font-size: 1vw;
                line-height: 1vw;
            }
            .price{
                font-size: .9vw;
                margin: .5vw 0;
            }
            .addtocartbtns{
                .addtocartbuttonswrap{
                    padding:0 0 1vw;
                    .quntitywrapper{
                        width: 4.5vw;
                        .btnwrap{
                            width: 4.5vw;
                            .MuiTextField-root{
                                width: calc(100% - 3.2vw);
                            }
                        }
                        span.toptitle{
                            font-size: .8vw;
                            padding: 0 0 .2vw;
                        }
                    }
                    .rightbtnwrapper{
                        width: calc(100% - 4.5vw);
                        padding: 0;
                        margin:0;
                    }
                }
            }
        }
    }
}