.postoptionsmenu{
    ul{
        list-style: none;
        li{
            padding: 10px;
            font-size: 0;
            svg, span.menutitle{
                display: inline-block;
                vertical-align: middle;
            }
            svg{
                width: 25px;
                height: 25px;
            }
            span.menutitle{
                width:calc(100% - 25px);
                font-size: 16px;
                padding-left: 15px;
            }
            &.storedetails{
                font-size: 0;
                border-bottom: 1px solid rgba(0,0,0,0.1);;
                .storelog, .storedata{
                    display: inline-block;
                    vertical-align: middle;
                }
                .storelog{
                    width: 100px;
                    height: 100px;
                    border-radius: 20px;
                    overflow: hidden;
                    position: relative;
                }
                .storedata{
                    width: calc(100% - 100px);
                    padding-left: 15px;
                    font-size: 18px;
                    h4{
                        margin: 0;
                    }
                    span{
                        display: inline-block;
                        font-size: 14px;
                        &.storecat{
                            padding: 2px 10px;
                            background: #261da828;
                            color: #271da8;
                            border-radius: 5px;
                        }
                        &.opening{
                            display: block;
                            padding-top: 5px;
                            &.open{
                                color: #05b31c;
                            }
                            &.close{
                                color: #b90d0d;
                            }
                        }
                    }
                }
            }
            &.gotostore{
                button{
                    background: #261da834;
                    width: 100%;
                    color: #271da8;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    .MuiIconButton-label{
                        svg{
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px){
    .postoptionsmenu{
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 20px;
        padding: 10px 0;
        ul{
            li{
                padding:10px 20px;
                
            }
        }
    }
}

@media (min-width: 1200px){
    .postoptionsmenu{
        border-width:.05vw;
        border-radius: 1vw;
        padding: 0 0 0.2vw;
        min-width: 20vw;
        ul{
            li{
                padding:.7vw 1.2vw;
                transition: all 0.3s ease-in-out;
                &:hover{
                    transition: all 0.3s ease-in-out;
                    background: rgba(0,0,0,0.04);
                    cursor: pointer;
                    // border-radius: .5vw;
                }
                svg{
                    width: 1.2vw;
                    height: 1.2vw;
                }
                span.menutitle{
                    width:calc(100% - 1.3vw);
                    font-size: .75vw;
                    padding-left: .5vw;
                }
                &.storedetails{
                    border-bottom-width: .05vw;
                    padding: 1vw;
                    .storelog{
                        width: 5vw;
                        height: 5vw;
                        border-radius: 1vw;
                        img{
                            z-index: 0;
                        }
                    }
                    .storedata{
                        width: calc(100% - 5vw);
                        font-size: 1vw;
                        h4{
                            font-size: .9vw;
                            line-height: 1vw;
                        }
                        span{
                            font-size: .55vw;
                            &.storecat{
                                padding: .1vw 1vw;
                                border-radius: .2vw;
                            }
                            &.opening{
                                padding-top: .2vw;
                                font-size: .65vw;
                            }
                        }
                    }
                }
                &.gotostore{
                    &:hover{
                        background: transparent;
                        // border-radius: .5vw;
                    }
                    button{
                        border-radius: .5vw;
                        font-size: .7vw;
                        .MuiIconButton-label{
                            svg{
                                margin-right: .5vw;
                                width: 1.2vw;
                                height: 1.2vw;
                            }
                        }
                    }
                }
            }
        }
    }
}