.storemainwrap{
    
    .bottomdata{
        margin-top: 10px;
        .rightcol{
            margin-top: 10px;
        }
    }
}

@media (min-width: 1024px){
    .storemainwrap{
        padding: 20px 20px 0 120px;
    }
}

@media (min-width: 1200px){
    .storemainwrap{
        padding: 2vw 4vw 0 10vw;
        .bottomdata{
            font-size: 0;
            .leftcol, .rightcol{
                display: inline-block;
                vertical-align: top;
                font-size: .9vw;
            }
            .leftcol{
                width: 20%;
            }
            .rightcol{
                width: 80%;
                margin: 0;
            }
        }
    }
}