.singlepostwrapper {
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    background: #fff;
    .headerwrap {
        padding: 10px 15px;
        font-size: 0;

        .proimg,
        .middledatawrapper,
        .optionbtn {
            display: inline-block;
            vertical-align: middle;
        }

        .proimg {
            width: 40px;
            height: 40px;
        }

        .middledatawrapper {
            width: calc(100% - 75px);
            font-size: 14px;
            padding: 0 10px;
            font-weight: bold;

            a {
                color: #271da8;
            }

            span {
                color: rgba(0, 0, 0, 0.5);
                font-size: 12px;
                font-weight: normal;
                display: block;
            }
        }

        .optionbtn {
            width: 35px;

            button {
                width: 35px;
                height: 35px;
                position: relative;

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .postbottomdata {
        padding: 20px;

        h3 {
            font-size: 18px;
            margin: 0 0 5px;
        }

        p {
            font-size: 13px;
            color: #000;
        }
    }
}

.singlepostdrawer {
    .MuiDrawer-paper {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}


@media (min-width: 1024px) {
    .singlepostwrapper {
        font-size: 0;
        border: none;
        background: transparent;
        .businesslogo,
        .wraprightdata {
            display: inline-block;
            vertical-align: top;
        }

        .businesslogo {
            width: 250px;
            text-align: center;
            position: sticky;
            top: 25px;
            padding: 0 20px;
            button {
                &.rounded {
                    background: #261da82d;
                    color:#271da8;
                    .MuiButton-startIcon{
                        background: #261da833;
                    }
                    svg{
                        fill: #271da8;
                    }
                }
            }
            h3{
                font-size: 16px;
                font-weight: bold;
                margin: 0 0 15px;
            }
            .logobuz {
                position: relative;
                width: 100px;
                height: 100px;
                overflow: hidden;
                border-radius: 20px;
                margin: 0 auto 20px;
            }
        }

        .wraprightdata {
            width: calc(100% - 250px);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            background: #fff;
            box-shadow:2px 1px 0px 0px rgba(0,0,0,0.02);
            
        }

        .headerwrap {
            padding: 20px;
            .optionbtn {
                .MuiList-padding {
                    padding: 0;
                }
            }
            .proimg{
                background: #15961033;
                position: relative;
                border-radius: 100%;
                width: 50px;
                height: 50px;
                svg{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 25px;
                    height: 25px;
                    fill: #159610;
                    transform: translate(-50%, -50%);
                }
            }
            .middledatawrapper {
                width: calc(100% - 85px);
            }
        }
        .postbottomdata{
            padding: 25px;
        }
    }
}

@media (min-width: 1200px) {
    .singlepostwrapper{
        margin-bottom: 2vw;
        // padding: 0 3vw;
        .businesslogo{
            width: 15vw;
            top: 8vw;
            padding: 0 1vw;
            .logobuz{
                width: 4vw;
                height: 4vw;
                margin: 0 auto 1vw;
                border-radius: .5vw;
            }
            h3{
                font-size: .8vw;
            }
        }
        .wraprightdata{
            width: calc(100% - 15vw);
            border-radius: 1vw;
            border-width: .05vw;
            
        }
        .headerwrap{
            padding: 1vw;
            .proimg{
                width: 3.3vw;
                height: 3.3vw;
                svg{
                    width: 1.5vw;
                    height: 1.5vw;
                }
            }
            .middledatawrapper{
                padding: 0 1vw;
                width: calc(100% - 6vw);
                font-size: .75vw;
                font-weight: normal;
                color: #000;
                a{
                    font-weight: 600;
                }
                span{
                    font-size: .6vw;
                }
            }
            .optionbtn{
                width: 2vw;
                svg{
                    width: 1.7vw;
                }
            }
        }

        .postbottomdata{
            padding: 2vw;
            h3{
                font-size: 1vw;
            }
            p{
                font-size: .75vw;
            }
        }
    }
}