.regsterwrapper{
    .MuiStepper-root{
        padding: 40px 20px;
        .MuiStepLabel-labelContainer{
            span{
                font-size: 12px;
            }
        }
    }

    .footerbtnwrap{
        text-align: center;
    }
}