.desktopheader {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    font-size: 0;
    padding: 45px 20px 15px 120px;
    z-index: 10;
    font-size: 0;

    .mainsearchinput,
    .rightdata {
        display: inline-block;
        vertical-align: middle;
    }

    .mainsearchinput {
        width: calc(100% - 165px);

        .inputwrapper {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 30px;
            padding: 0 15px;

            svg,
            input {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
            }

            svg {
                width: 30px;
                height: 30px;
                padding: 5px;
            }

            input {
                width: calc(100% - 30px);
                border: none;
                background: transparent;
                height: 45px;
                line-height: 45px;
                padding: 0 15px;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .rightdata {
        padding-left: 15px;

        button {
            width: 150px;
            border-radius: 30px;
            height: 45px;
            background: #ccefce;
            color: #118213;
            padding-left: 5px;

            svg {
                background: #a7d9a9;
                border-radius: 100%;
                fill: #118213;
                width: 35px;
                height: 35px;
                padding: 6px;
            }
        }
    }
}



@media (min-width: 1200px) {
    .desktopheader {
        top: 0;
        left: 7vw;
        padding:3vw 6.2vw 1vw 4vw;
        position: fixed;
        width: 64.5vw;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(25px);

        .mainsearchinput {
            width: calc(100% - 11vw);
            .inputwrapper {
                background: #F2F2F2;
                border-radius: 3vw;
                padding: 0 1vw;

                svg {
                    width: 2vw;
                    height: 2vw;
                    padding: 0.4vw;
                }
                input{
                    width: calc(100% - 2vw);
                    height: 2.7vw;
                    line-height: 3.4vw;
                    padding: 0 .5vw;
                    font-size: 1vw;
                }
            }
        }

        .rightdata {
            padding-left: 1vw;

            button {
                width: 10vw;
                border-radius: 3vw;
                height: 2.7vw;
                padding-left: .5vw;
                padding:.3vw 1vw .3vw .2vw;
                font-size: .95vw;

                .MuiButton-startIcon {
                    width: 2.2vw;
                    height: 2.2vw;
                    padding: .6vw;
                    background: #a7d9a9;
                    border-radius: 3vw;
                    position: relative;
                }

                svg {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    padding: 0;
                    width: 1.5vw;
                    height: 1.5vw;
                    background: transparent;
                }
            }
        }
    }
}