.mobileheader{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    font-size: 0;
    padding: 10px 20px;
    z-index: 10;
    // box-shadow:0 0 20px 10px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0,0, 0, 0.05);
    .mainlogowrap, .rightdata{
        display: inline-block;
        vertical-align: middle;
    }
    .mainlogowrap{
        width: 50px;
        a{
            display: block;
            img{
                width: 100%;
            }
        }
    }
    .rightdata{
        width: calc(100% - 50px);
        text-align: right;
        .searchicon, .userimg{
            display: inline-block;
            vertical-align: middle;
        }
        .searchicon{
            button{ 
                width: 40px;
                min-width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 100%;
                background: rgba(0,0, 0, 0.05);
                padding: 5px;
                svg{
                    width: 100%;
                    height: 20px;
                }
            }
        }
        .userimg{
            width: 45px;
            height: 45px;
            button{
                padding: 0;
            }
        }
    }
}
