.sharingoptionssheet{
    padding-bottom: 20px;
    h2{
        padding: 30px;
        font-size: 18px;
        display: block;
        margin: 0;
    }

    .toprow{
        
        ul{
            font-size: 0;
            li{
                display: inline-block;
                vertical-align: middle;
                width: 33.33%;
                text-align: center;
                .copylink{
                    text-align: center;
                    padding: 15px;
                    svg{
                        width: 35px;
                        height: 35px;
                        margin: 0 0 5px;
                    }
                    span{
                        display: block;
                        font-size: 14px;
                    }
                }
                a{
                    text-align: center;
                    display: block;
                    text-decoration: none;
                    color: #000;
                    padding: 15px;
                    svg{
                        width: 35px;
                        height: 35px;
                        margin: 0 0 5px;
                    }
                    span{
                        display: block;
                        font-size: 14px;
                    }
                    &.fb{
                        color: #1877F2;
                        svg{
                            fill: #1877F2;
                        }
                    }
                    &.wta{
                        color: #4FCE5D;
                        svg{
                            fill: #4FCE5D;
                        }
                    }
                    &.lin{
                        color: #0e76a8;
                        svg{
                            fill: #0e76a8;
                        }
                    }
                    &.twt{
                        color: #00acee ;
                        svg{
                            fill: #00acee ;
                        }
                    }
                    &.email{
                        color: #3006a3 ;
                        svg{
                            fill: #3006a3 ;
                        }
                    }
                    &.sms{
                        color: #4e67f0 ;
                        svg{
                            fill: #4e67f0 ;
                        }
                    }
                }
            }
        }
    }

}


@media (min-width: 1024px){
    .sharingoptionssheet{
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 2px 1px 0px 0px rgba(0,0,0,0.02);
        padding: 0;
        border-radius: 20px;
        max-width: 300px;
        h2{
            font-size: 16px;
            padding: 20px 20px 10px;
        }
        .toprow{
            ul{
                list-style: none;
                li{
                    width: 100%;
                    text-align: left;
                    .copylink{
                        text-align: left;
                        font-size: 0;
                        padding: 10px 20px;
                        cursor: pointer;
                        svg, span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        svg{
                            width: 30px;
                            height: 30px;
                        }
                        span{
                            padding-left: 15px;
                            width: calc(100% - 45px);
                        }
                    }
                    a{
                        text-align: left;
                        font-size: 0;
                        padding: 10px 20px;
                        svg, span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        svg{
                            width: 30px;
                            height: 30px;
                        }
                        span{
                            padding-left: 15px;
                            width: calc(100% - 45px);
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 1200px){
    .sharingoptionssheet{
        border-radius: 1vw;
        max-width: 16vw;
        h2{
            font-size: 1vw;
            padding: 1vw 1.4vw .5vw;
        }

        .toprow{
            ul{
                li{
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        transition: all 0.3s ease-in-out;
                        background: rgba(0,0,0,0.02);
                    }
                    .copylink{
                        padding:.6vw 1.4vw ;
                        svg{
                            width: 1.1vw;
                            height: 1.1vw;
                        }
                        span{
                            font-size: .9vw;
                        }
                    }
                    a{
                        padding:.6vw 1.4vw ;
                        svg{
                            width: 1.1vw;
                            height: 1.1vw;
                        }
                        span{
                            font-size: .9vw;
                        }
                    }
                }
            }
        }
    }
}