.floatbutton{
    position: fixed;
    bottom: 80px;
    right: 10px;
    .MuiFab-root{
        background-color: #a9d8aa;
        svg{
            fill: #58a25a;
        }
        &:focus, &:active, &:hover{
            background-color: #a9d8aa;
            svg{
                fill: #58a25a;
            }
        }
    }
}