.productwelcomecardwrap{
    overflow: hidden;
    // background: rgba(26, 150, 22, 0.089);
    border-radius: 20px;
    // margin-bottom: 10px;

    .rightconte{
        padding: 20px;
        h1{
            font-size: 20px;
            margin: 0 0 5px;
        }
        p{
            font-size: 13px;
            color: rgba(0,0,0,0.7);
        }
    }

    
}