.addtocartbuttonswrap{
    font-size: 0;
    padding: 10px 20px;
    border-top: 1px solid rgba(0,0,0,0.07);

    .quntitywrapper, .rightbtnwrapper{
        display: inline-block;
        vertical-align: bottom;
    }
    .quntitywrapper{
        width: 130px;
        span{
            &.toptitle{
                font-size: 16px;
                display: block;
                font-weight: 500;
                padding-bottom: 5px;
            }
        }
        .btnwrap{
            background: rgba(0,0,0,0.07);
            border-radius: 30px;
            button, .MuiTextField-root{
                display: inline-block;
                vertical-align: middle;
            }
            button{
                width: 35px;
                height: 35px;
                position: relative;
                svg{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .MuiTextField-root{
                width: calc(100% - 70px);
                .MuiInputBase-root{
                    &:before, &:after{
                        display: none;
                    }
                    input{
                        text-align: center;

                    }
                }
            }
        }
    }
    .rightbtnwrapper{
        padding-left: 15px;
        width: calc(100% - 130px);
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .addtocartbuttonswrap{
        padding: 1vw 1.8vw;
        border-top-width: .07vw;
        .quntitywrapper{
            width: 7vw;
            span{
                &.toptitle{
                    font-size: .75vw;
                    padding-bottom: .1vw;
                }
            }
            .btnwrap{
                border-radius: 1vw;
                width: 5vw;
                button{
                    width: 1.4vw;
                    height: 1.4vw;
                    svg{
                        width: 1vw;
                        height: 1vw;
                    }
                }
                .MuiTextField-root{
                    width: calc(100% - 3.2vw);
                    input{
                        font-size: .95vw;
                    }
                }
            }
        }

        .rightbtnwrapper{
            width: calc(100% - 7vw);
            padding-left: 1vw;
        }
    }
}