.cardmiddle{
    text-align: center;
    padding: 20px;
    .sinrow{
        margin-bottom: 25px;
    }
}

@media (min-width: 1024px){
    .cardmiddle{
        margin:  0 auto;
        max-width: 50%;
    }
}

@media (min-width: 1200px){
    .cardmiddle{
        margin:  0 auto;
        max-width: 40%;
        text-align: left;
        h1{
            text-align: center;
            font-size: 2.7vw;
        }
    }
}