.welcomemsgwrap{
    font-size: 0;
    padding: 10px;
    margin: 10px;
    position: relative;
    margin-bottom: 15px;
    &:after{
        content:'';
        background: #fafaff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        z-index: -1;
    }
    .leftimg, .rightconte{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
    }
    .leftimg{
        width: 40%;
    }
    .rightconte{
        width: 60%;
        padding-left: 20px;
        h1, h2{
            margin: 0;
        }
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 18px;
            img{
                width: 25px;
                display: inline-block;
            }
        }
        p{
            font-size: 12px;
            margin: 10px 0 14px;
        }

    }
}

@media (min-width: 1024px){
    .welcomemsgwrap{
        padding: 0;
        margin: 0 0 25px;
        .leftimg{
            width: 30%;
            padding: 10px;
        }
        .rightconte{
            width: 70%;
            h1{
                font-size: 30px;
            }
            h2{
                font-size: 25px;
            }
            p{
                font-size: 16px;
                color: rgba(0,0,0,0.7);
            }
        }
    }
}

@media (min-width: 1200px){
    .welcomemsgwrap{
        padding: 0;
        margin: 0 0 2vw;
        &:after{
            border-radius: 2vw;
        }
        .leftimg{
            padding: 1vw;
        }
        .rightconte{
            h1{
                font-size: 1vw;
            }
            h2{
                font-size: 1.1vw;
                img{
                    width: 1.4vw;
                }
            }
            p{
                font-size: .7vw;
                line-height: .5vw;
            }
        }
    }
}