.storeheaderwrapper{
    .coverimgwrapper{
        position: relative;
        height: 250px;
        &:after{
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 20px;
            background: #fff;
            content: '';
            left: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }

    .logoandcalltitle{
        font-size: 0;
        padding: 0 20px 20px;
        background: #fff;
        .logo, .titlearea{
            display: inline-block;
            vertical-align: middle;
        }
        .logo{
            width: 80px;
            height: 80px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            img{
                z-index: 2;
            }
        }
        .titlearea{
            width: calc(100% - 80px);
            padding-left: 15px;
            h1{
                margin: 0 0 5px;
                font-size: 20px;
                line-height: 20px;
            }
            .follows{
                font-size: 0;
                margin-bottom: 5px;
                svg, span{
                    display: inline-block;
                    vertical-align: middle;
                }
                svg{
                    width: 15px;
                    height: 15px;
                    fill: rgba(0,0,0,0.5);
                }
                span{
                    padding-left: 5px;
                    color: rgba(0,0,0,0.5);
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            a{
                display: inline-block;
                border-radius: 5px;
                text-transform: uppercase;
                text-decoration: none;
                padding:5px 10px ;
                font-size: 11px;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .calltoactionwrap{
        margin: 0 0 00px;
        background: #fff;
        padding-bottom: 20px;
        ul{
            text-align: center;
            list-style: none;
            font-size: 0;
            li{
                display: inline-block;
                vertical-align: middle;
                width: 25%;
                button{
                    width: 50px;
                    height: 50px;
                    position: relative;
                    // background-color: rgba(0,0,0,0.07);
                    svg{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 24px;
                        height: 24px;
                        color: #000;
                    }
                }
            }
        }
    }
}

.sharesheetpopup{
    .MuiPaper-root{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media (min-width: 1024px){
    .storeheaderwrapper{
        .coverimgwrapper{
            height: 350px;
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            z-index: 3;
            &:after{
                display: none;
            }
        }
        .optionheaderwrap{
            font-size: 0;
            padding: 0 20px 20px;
            position: relative;
            top: -25px;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                z-index: -1;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
            .logoandcalltitle, .calltoactionwrap{
                display: inline-block;
                vertical-align: bottom;
                margin: 0;
                padding: 0;
                background: transparent;
            }
            .logoandcalltitle{
                width: calc(100% - 300px);
                .logo{
                    width: 110px;
                    height: 110px;
                    z-index: 4;
                }
                .titlearea{
                    width: calc(100% - 110px);
                    vertical-align: bottom;
                }
            }
            .calltoactionwrap{
                width: 300px;
                padding-bottom: 10px;
                ul{
                    text-align: right;
                    li{
                        button{
                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .storeheaderwrapper{
        .coverimgwrapper{
            height: 25vw;
            border-radius: 1vw;

        }
        .optionheaderwrap{
            padding: 0 2vw 2vw;
            top: -1.5vw;
            &:after{
                border-bottom-left-radius: 1vw;
                border-bottom-right-radius: 1vw;
            }
            .logoandcalltitle{
                width: calc(100% - 16vw);
                .logo{
                    width: 7vw;
                    height: 7vw;
                    border-radius: 1vw;
                }
                .titlearea{
                    width: calc(100% - 7vw);
                    padding-left: 1vw;
                    h1{
                        font-size: 1.2vw;
                        margin: 0 0 .2vw;
                        line-height: 1.4vw;
                    }
                    .follows{
                        margin: 0 0 .2vw;
                        svg{
                            width: 1.2vw;
                            height: 1.2vw;
                        }
                        span{
                            padding-left: .5vw;
                            font-size: .85vw;
                        }
                    }
                    a{
                        font-size: .75vw;
                        padding: .3vw 1vw;
                        border-radius: .2vw;
                    }
                }
            }
            .calltoactionwrap{
                width: 16vw;
                padding-bottom: .5vw;
                ul{
                    text-align: right;
                    li{
                        button{
                            width: 3vw;
                            height: 3vw;
                            transition: all 0.3s ease-in-out;
                            svg{
                                width: 1.4vw;
                                height: 1.4vw;
                            }
                        }
                    }
                }
            }
        }
    }
}