.mobilebottomnav {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 10px 10px;
    z-index: 10;
    .MuiBottomNavigation-root {
        span {
            color: #fff;
        }

        svg {
            fill: #fff;
            width: 23px;
            height: 23px;
        }
    }

    .MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
        padding-top: 7px;
    }

    button {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 20px;
            transform: scale(0.2);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }

        &.Mui-selected {
            &:after {
                transform: scale(0.7);
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}