.desktopmainmenuwrapper{
    position: fixed;
    left: 0;
    height: 100vh;
    top: 0;
    z-index: 1301;
    padding: 10px;
    
    .innerilne{
        border-radius: 40px;
        .mainlogo{
            height: 65px;
            padding: 15px;
            width: 90px;
            a{
                display: block;
                img{
                    width: auto;
                }
            }
        }
        .mainmenulist{
            height: calc(100vh - 175px);
            position: relative;
            ul{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                list-style: none;
                padding: 15px;
                li{
                    padding: 15px 10px;
                    text-align: center;
                    position: relative;
                    margin: 5px 0;
                    &:after{
                        border-radius: 20px;
                        background: rgba(255,255,255,0.1);
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        transform: scale(0.4);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover, &.active{
                        cursor: pointer;
                        &:after{
                            opacity: 1;
                            visibility: visible;
                            transform: scale(1);
                            transition: all 0.3s ease-in-out;

                        }
                    }
                    svg{
                        margin: 0 auto;
                        fill: #fff;
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        .userimg{
            text-align: center;
            button{
                padding: 20px;
                border-radius: 100%;
            }
            .MuiAvatar-root{
                width: 50px;
                height: 50px;
                margin: 0 auto;
            }
        }
    }
}

.mainheadersidedrawer{
    .MuiDrawer-paper{
        background: transparent;
        padding: 10px;
        padding-left: 30px;
        .wrapdrawerinner{
            overflow: hidden;
            border-radius: 40px;
            background: #fff;
            width: 400px;
            height: 100vh;
            padding-left:70px;
        }
    }
}

@media (min-width: 1200px){
    .desktopmainmenuwrapper{
        padding: .6vw;
        .innerilne{
            border-radius: 3vw;
            .mainlogo{
                text-align: center;
                height: 6vw;
                padding:1.2vw 1vw 1vw;
                width: 4.6vw;
                margin: 0 auto;
            }
            .mainmenulist{
                height: calc(100vh - 12.4vw);
                ul{
                    padding: 1vw;
                    li{
                        padding: .5vw .5vw .8vw;
                        margin: .5vw 0;
                        &:after{
                            border-radius: .7vw;
                        }
                        svg{
                            width: 1vw;
                            height: 1vw;
                        }
                    }
                }
            }
            .userimg{
                button{
                    padding: 1.1vw 0vw;
                }
                .MuiAvatar-root {
                    width: 2.5vw;
                    height: 2.5vw;   
                }
            }
        }
    }

    .mainheadersidedrawer{
        .MuiDrawer-paper{
            padding: .6vw;
            padding-left: 1vw;
            .wrapdrawerinner{
                border-radius: 3vw;
                width: 32vw;
                padding-left:4.5vw;
            }
        }
    }
}