.ratinggraphwrap{
    .ratingwrap{
        font-size: 0;
        padding: 10px 0;
        .value, .ratingbars{
            display: inline-block;
            vertical-align: middle;
        }
        .value{
            width: 80px;
            .currentval{
                font-size: 40px;
                font-weight: bold;
                text-align: center;
                display: block;
                line-height: 40px;
            }
            fieldset{
                margin: 0;
                text-align: center;
                span{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .ratingbars{
            width: calc(100% - 80px);
            padding:0 10px;
            font-size: 0;
            .startlist, .barlist{
                display: inline-block;
                vertical-align: middle;
            }
            .startlist{
                width: 60px;
                .sinrow{
                    // padding: 5px 0;
                    svg{
                        width: 10px;
                        height: 10px;
                        fill: rgba(0,0,0,0.1);
                    }
                }
            }
            .barlist{
                width: calc(100% - 60px);
                .sinbar{
                    margin: 5px 0;
                    width: 100%;
                    height: 5px;
                    border-radius: 15px;
                    background: rgba(0,0,0,0.1);
                    position: relative;
                    overflow: hidden;
                    span{
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        background: #FFCC00;
                    }
                }
            }
        }
    }
}