.filterlistwrap{
    padding: 10px 20px;
    background: #fff;
    .headertitle{
        font-size: 0;
        h3, button{
            display: inline-block;
            vertical-align: middle;
        }
        h3{
            width: calc(100% - 40px);
            font-size: 16px;
            margin: 0;
        }
        button{
            width: 40px;
            height: 40px;
            position: relative;
            svg{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .filterslistwrap{
        .seachwrap{
            font-size: 0;
            background: rgba(0,0,0,0.05);
            border-radius: 20px;
            position: relative;
            margin: 15px 0;
            svg{
                position: absolute;
                width: 25px;
                height: 25px;
                padding: 5px;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
            }
            .MuiInputBase-root{
                width: 100%;
                input{
                    width: 100%;
                    border: none;
                    padding-left: 40px;
                    font-size: 16px;
                }
            }
        }

        .procatlist{
            h4{
                margin: 0 0 5px;
            }
            .listofcat{
                padding-bottom: 20px;
            }
        }
    }
}


@media (min-width: 1200px){
    .filterlistwrap{
        padding: 0 2vw 0 0;
        background: transparent;
        .headertitle{
            h3{
                font-size: 1vw;
            }
        }

        .filterslistwrap{
            .seachwrap{
                border-radius: 2vw;
                margin: 1vw 0;
                svg{
                    width: 1.5vw;
                    height: 1.5vw;
                    left: .7vw;
                }
                .MuiInputBase-root{
                    input{
                        padding-left: 2.5vw;
                        font-size: 1vw;
                    }
                }
            }
            .procatlist{
                h4{
                    font-size: 1vw;
                    font-weight: 400;
                    margin: 0 0 1vw;
                }
                .listofcat{
                    padding-bottom: 1vw;
                    li{
                        padding:.2vw 0;
                    }
                    .MuiTreeItem-label{
                        font-size: .95vw;
                    }
                }
            }
        }
    }
}