@media (min-width: 1024px){
    .wrapmidddlecon{
        padding-left: 120px;
        padding-right: 20px;
    }
}


@media (min-width:1200px){
    .wrapmidddlecon{
        font-size: 0;
        padding-left: 8vw;
        padding-right: 0;
        .middlepostarea, .rightdatasets{
            display: inline-block;
            vertical-align: top;
        }
        .middlepostarea{
            width: 70%;
            position: relative;
            // padding-right: 3vw;
            padding: 0 6vw 0 3vw;
        }
        .rightdatasets{
            width: 30%;
            font-size: 1vw;
            
        }
    }
}