.latestshopwrapper{
    padding-top: 1vw;
    padding-bottom: 2vw;
    .sinstorewrapper{
        position: sticky;
        top: 0;
    }
    .headtitle{
        font-size: 0;
        padding: 2vw 1vw 2vw 0 ;
        .titlearea, button{
            display: inline-block;
            vertical-align: middle;
        }
        .titlearea{
            width: calc(100% - 3vw);
            font-size: .95vw;
            h2{
                font-size: 1vw;
                margin: 0 0 0;
                line-height: 1vw;
                
            }
            span{
                color: rgba(0,0,0,0.4);
                font-size: .75vw;
            }
        }
        button{
            width: 3vw;
            height: 3vw;
            position: relative;
            svg{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .sinstorewrapper{
        padding-right: 1.7vw;
        a{
            text-decoration: none;
            color: #000;
            .bannerimg{
                border-radius: 1.2vw;
                height: 12vw;
                position: relative;
                overflow: hidden;
            }
            .content{
                padding: 1vw 0;
                h3{
                    font-size: 1vw;
                    font-weight: 500;
                    margin: 0 0 .5vw;
                }
                p{
                    font-size: .75vw;
                    color: rgba(0,0,0,0.5);
                }
            }
        }
    }

    .moreviewlink{
        text-align: right;
        // font-weight: 600;
        padding-right: 2vw;
        a{
            text-decoration: none;
            color: #271da8;
            transition: all 0.3s ease-in-out;
            font-size: .75vw;
            &:hover{
                text-decoration: underline;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}