
.drawerdatamobile{
    min-width: 300px;
    .userdata{
        padding: 20px;
        text-align: center;
        background: #271da8;
        .MuiAvatar-root{
            width: 100px;
            height: 100px;
            margin: 0 auto 15px;
        }
        h3{
            font-size: 16px;
            color: #fff;
            margin: 0;
        }
    }
    .linklist{
        ul{
            padding: 0;
            margin: 0;
            li{
                &:last-child{
                    a{
                        svg{
                            fill: #ff0000;
                        }
                        span{
                            color: #ff0000;
                        }
                    }
                }
                a{
                    display: block;
                    padding: 10px 20px;
                    font-size: 0;
                    color: #000;
                    text-decoration: none;
                    svg, span{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                    span{
                        font-size: 16px;
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px){
    .drawerdatamobile{
        padding: 25px;
        .userdata{
            border-radius: 30px;
            margin-bottom: 20px;
        }
        .linklist{
            ul{
                list-style: none;
                li{
                    &:hover{
                        a{
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    a{
                        transition: all 0.3s ease-in-out;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .drawerdatamobile{
        padding: 1vw;
        .userdata{
            border-radius: 2.6vw;
            margin-bottom: 1vw;
            .MuiAvatar-root {
                width: 8vw;
                height: 8vw;
                margin: 0 auto .7vw;
            }
            h3{
                font-size: 1.2vw;
                line-height: 1.5vw;
            }
        }
        .linklist{
            overflow: auto;
            ul{
                li{
                    display: inline;
                    a{
                        padding: .7vw;
                        display: block;
                        // width: max-content;
                        &:hover{
                            transition: all 0.3s ease-in-out;
                            background: rgba(0,0,0,0.05);
                            border-radius: 1vw;
                        }
                        svg{
                            width: 1.5vw;
                            height: 1.5vw;
                        }
                        span{
                            font-size: .95vw;
                            padding-left: 1vw;
                        }
                    }
                }
            }
        }
    }
}
