.sinproimagecarouselwrap{
    .mainimgwrap{
        position: relative;
        height: 60vh;
        &:after{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background: #fff;
            content: '';
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
}