.storenavi{
    background: #fff;
    margin: 0 0 10px;
    .scrollerdata{
        overflow-x: auto;
    }
    ul{
        font-size: 0;
        width: max-content;
        li{
            display: inline-block;
            vertical-align: middle;
            &:first-child{
                padding-left: 10px;
            }
            a{
                display: block;
                text-decoration: none;
                padding: 10px 15px;
                svg, span{
                    display: inline-block;
                    vertical-align: middle;
                }
                svg{
                    width: 15px;
                    height: 15px;
                    fill: #000;
                }
                span{
                    font-size: 14px;
                    color: #000;
                    padding-left: 5px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .storenavi{
        background: transparent;
        margin: 0 0 2vw;
        .scrollerdata{
            overflow-x: inherit;
            padding-right: 1vw;
        }
        ul{
            width: auto;
            li{
                width: 100%;
                display: block;
                &:first-child{
                    padding: 0;
                }
                a{
                    transition: all 0.3s ease-in-out;
                    padding: .7vw 1vw;
                    border-radius: 1vw;
                    svg{
                        width: 1vw;
                        height: 1vw;
                    }
                    span{
                        font-size: .85vw;
                        padding-left: .5vw;
                    }
                    &:hover{
                        transition: all 0.3s ease-in-out;
                        background: rgba(0,0,0,0.04);
                        overflow: hidden;
                    }
                }
                &.active{
                    a{
                        transition: all 0.3s ease-in-out;
                        background: rgba(0,0,0,0.04);
                    }
                }
            }
        }
    }
}