.shippingcalculatorpopwrap{
    .headertitle{
        padding: 10px;
        position: relative;
        background: #fff;
        .backicon{
            position: absolute;
            left: 10px;
            top: 3px;
            button{
                width: 40px;
                height: 40px;
                svg{
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        span{
            display: block;
            text-align: center;
        }
    }
    button{
        border-radius: 30px;
    }
    .scrollerarea{
        height: calc(100vh - 120px);
        overflow-y: auto;
        .shippingto{
            padding: 20px;
            background: #fff;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            span.toptitle{
                display: block;
                font-size: 13px;
                margin: 0 0 10px;
            }
        }

        .shippingmethod{
            padding: 20px;
            background: #fff;
            font-size: 13px;
            span{
                display: block;
                &.methodtitle{
                    font-weight: 500;
                    margin: 0 0 5px;
                }
            }
            .listofshipping{
                .sinrow{
                    font-size: 0;
                    padding: 10px 0;
                    position: relative;
                    &.active{
                        .checkmark{
                            opacity: 1;
                            visibility: visible;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    .icon, .dataarea{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .icon{
                        width: 50px;
                        height: 50px;
                        position: relative;
                        overflow: hidden;
                        border-radius: 10px;
                        img{
                            z-index: 0;
                        }
                    }
                    .dataarea{
                        font-size: 13px;
                        padding-left: 10px;
                        span{
                            color: rgba(0,0,0,0.4);
                            font-size: 12px;
                        }
                    }
                    .checkmark{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                        svg{
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
        }

        .packegedata{
            padding: 20px;
            font-size: 0;
            .icon, .dataset{
                display: inline-block;
                vertical-align: middle;
            }
            .icon{
                width: 80px;
            }
            .dataset{
                width: calc(100% - 80px);
                padding-left: 20px;
                font-size: 12px;
                span{
                    display: block;
                    color: rgba(0,0,0,0.5);
                    &.val{
                        font-size: 14px;
                    }
                }
                .rowdata{
                    padding: 5px 0;
                }
            }
        }
    }
    .ftrbtn{
        width: 100%;
        padding: 15px;
        button{
            width: 100%;
        }
    }
}