.latestproductswrapper{
    .headertitle{
        font-size: 0;
        padding: 0 15px;
        margin: 0 0 15px;
        h3, a{
            display: inline-block;
            vertical-align: middle;
        }
        h3{
            font-size: 20px;
            margin: 0;
            width: calc(100% - 100px);
        }
        a{
            width: 100px;
            text-align: right;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .gridviewproducts{
        padding-left:15px;
        overflow-x: auto;
        .innerscrollerarea{
            width: max-content;
            .sincard{
                width: 300px;
                display: inline-block;
                vertical-align: top;
                margin-right: 15px;
            }
        }
    }
}

@media (min-width: 1024px){
    .latestproductswrapper{
        .headertitle{
            padding: 0;
        }
        .gridviewproducts{
            overflow-x: inherit;
            padding: 0;
            .innerscrollerarea{
                width: auto;
                font-size: 0;
                margin: 0 -10px;
                .sincard{
                    width: calc(25% - 20px);
                    margin: 0 10px;
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .latestproductswrapper{
        .headertitle{
            padding: 0;
            h3{
                font-size: 1.2vw;
            }
            a{
                font-size: .9vw;
                font-weight: normal;
            }
        }
        .gridviewproducts{
            .innerscrollerarea{
                margin: 0 -.5vw;
                .sincard{
                    width: calc(25% - 1vw);
                    margin: 0 .5vw;
                }
            }
        }
    }
}