.userloginfromwrap{
    .wrapmainfrom{
        display: flex;
        .formarea{
            padding: 20px;
            width: 40%;
            .MuiTextField-root{
                display: block;
                margin:0 0 20px ;
            }
        }

        .rightdata{
            width: 60%;
            background: #000;
            height: 100vh;
        }
    }
}