.smallsellercardwrapper{
    background: #fff;
    padding: 10px 20px;
    margin: 0 0 10px;
    .headtitle{
        margin: 0 0 10px;
        span{
            font-size: 14px;
            display: block;
            font-weight: 600;
        }
    }

    .storedata{
        font-size: 0;
        .icon, .calltoactions{
            display: inline-block;
            vertical-align: middle;
        }
        .icon{
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            img{
                z-index: 1;
            }
        }
        .calltoactions{
            padding-left: 10px;
            width: calc(100% - 50px);
            ul{
                font-size: 0;
                li{
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 5px;
                    width: 50%;
                    &:last-child{
                        padding-right: 0;
                    }
                    button{
                        background: rgba(0,0,0,0.03);
                        font-size: 13px;
                        width: 100%;
                        border-radius: 20px;
                        svg{
                            width: 15px;
                            height: 15px;
                            fill: #000;
                        }
                    }
                }
            }
        }
    }
}