.latestprowrapper{
    padding-top: 1vw;
    border-bottom: .05vw solid rgba(0,0,0,0.07);
    padding-bottom: 2vw;
    .headtitle{
        font-size: 0;
        padding: 2vw 1vw 2vw 0 ;
        .titlearea, button{
            display: inline-block;
            vertical-align: middle;
        }
        .titlearea{
            width: calc(100% - 3vw);
            font-size: .95vw;
            h2{
                font-size: 1vw;
                margin: 0 0 0;
                line-height: 1vw;
            }
            span{
                font-size: .75vw;
                color: rgba(0,0,0,0.4);
            }
        }
        button{
            width: 3vw;
            height: 3vw;
            position: relative;
            svg{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    ul{
        list-style: none;
        li{
            padding: 0 1.2vw 1vw 0;
            transition: all 0.3s ease-in-out;
            &:hover{
                transition: all 0.3s ease-in-out;
                // background: rgba(0,0,0,0.04);
            }
            .prodimg, .prodconte, .carticon{
                display: inline-block;
                vertical-align: middle;
            }
            .prodimg{
                width: 3vw;
                height: 3vw;
                border-radius: .5vw;
                position: relative;
                overflow: hidden;
            }
            .prodconte{
                width: calc(100% - 5.2vw);
                padding: 0 1vw;
                a{
                    display: block;
                    text-decoration: none;
                    span{
                        color: #000;
                        display: block;
                        font-size: .75vw;
                        // font-weight: 600;
                        line-height: 1.5vw;
                    }
                    &.cat{
                        font-size: .65vw;
                        text-decoration: none;
                        border-radius: .06vw;
                        text-transform: uppercase;
                    
                    }
                }
                
                .price{
                    // text-align: right;
                    text-transform: uppercase;
                    font-size: .7vw;
                    // color: rgb(28, 170, 9);
                    display: block;
                }
            }
            .carticon{
                width: 2.2vw;
                height: 2.2vw;
                svg{
                    width: 1.2vw;
                    height:  1.2vw;
                }
            }

        }
    }

    .moreviewlink{
        text-align: right;
        // font-weight: 600;
        padding-right: 2vw;
        a{
            text-decoration: none;
            font-size: .75vw;
            color: #271da8;
            transition: all 0.3s ease-in-out;
            &:hover{
                text-decoration: underline;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}