.likecomiconswrap{
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.07);
    ul{
        list-style: none;
        font-size: 0;
        li{
            display: inline-block;
            padding: 0 5px;
            svg, span{
                display: inline-block;
                vertical-align: middle;
            }
            svg{
                width: 25px;
                height: 25px;
            }
            span{
                padding-left: 10px;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 1200px) {
    .likecomiconswrap{
        padding: .5vw 0;
        ul{
            padding-left: .5vw;
            li{
                button{
                    padding: .5vw;
                    border-radius: .5vw;
                }
                svg{
                    width: 1vw;
                    height: 1vw;
                }
                span{
                    padding-left: .5vw;
                    font-size: .75vw;
                }
            }
        }
    }
}