.sinprotopnavmobwrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    font-size: 0;
    padding: 15px;
    .backicon, .hiddentitle, .carticon{
        display: inline-block;
        vertical-align: middle;
    }
    .backicon, .carticon{
        width: 40px;
        height: 40px;
        button{
            width: 100%;
            height: 100%;
            position: relative;
            background: rgba(0,0,0,0.2);
            svg{
                width: 20px;
                height: 20px;
                fill: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .carticon{
        width: 90px;
        font-size: 0;
        button{
            width: 40px;
            display: inline-block;
            vertical-align: middle;
            &:first-child{
                margin-right: 10px;
            }
        }
    }
    .hiddentitle{
        width: calc(100% - 130px);
        font-size: 16px;
        text-align: center;
        span{
            position: relative;
            top: -25px;
            display: block;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
    }
}