.sinprofeatdetailswrap{
    .topheader{
        padding: 10px 20px;
        background: #fff;
        margin: 0 0 10px;
    }
    h1{
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: 400;
    }

    .reviewswrap{
        margin: 0 0 15px;
        .starwra{
            fieldset, .val{
                display: inline-block;
                vertical-align: middle;
            }
            fieldset{
                margin: 0;
                padding-left: 5px;
                line-height: 12px;
                .MuiSvgIcon-root{
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .ordercount, .starwra{
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
        }
        .ordercount{
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid rgba(0,0,0,0.1);
        }
    }

    .price{
        margin-bottom: 10px;
        span{
            display: inline-block;
            vertical-align: middle;
            &.reguler{
                font-weight: bold;
                padding-right: 10px;
            }
            &.sales{
                color:rgba(0,0,0,0.4);
                font-size: 14px;
            }
        }
    }

    .sinquentity{
        font-size: 0;
        margin: 0 0 20px;
        .btnwrap,.avalival{
            display: inline-block;
            vertical-align: middle;
        }
        .btnwrap{
            background: rgba(0,0,0,0.07);
            border-radius: 30px;
            width: 100px;
            button, .MuiTextField-root{
                display: inline-block;
                vertical-align: middle;
            }
            button{
                width: 35px;
                height: 35px;
                position: relative;
                svg{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .MuiTextField-root{
                width: calc(100% - 70px);
                .MuiInputBase-root{
                    &:before, &:after{
                        display: none;
                    }
                    input{
                        text-align: center;

                    }
                }
            }
        }

        .avalival{
            padding-left: 10px;
            font-size: 13px;
            color: rgba(0,0,0,0.6);
        }
    }

    .buybuttonswrap{
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 5;
        width: 100%;
        border-radius: 30px;
        padding: 10px;
        .mainwrapbuybtn{
            font-size: 0;
            .storepg, .otherbtnwrap{
                display: inline-block;
                vertical-align: middle;
            }
            .storepg{
                width: 50px;
                height: 50px;
                button{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    background: #fff;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .otherbtnwrap{
                width: calc(100% - 50px);
                overflow: hidden;
                border-radius: 30px;
                padding-left: 15px;
                button{
                    width: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 0;
                    height: 50px;
                    &:first-child{
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                    }
                    svg{
                        width: 20px;
                        height: 20px;
                        fill: #fff;
                    }
                }
            }
        }
    }

    .shipping{
        padding: 10px 0 0;
        font-size: 0;
        border-top: 1px solid rgba(0,0,0,0.05);
        .lefttitle, .rightarrow{
            display: inline-block;
            vertical-align: middle;
        }
        .lefttitle{
            width: calc(100% - 10px);
            span{
                display: block;
                font-size: 14px;
                font-weight: bold;
                &.detail{
                    font-weight: normal;
                    color: rgba(0,0,0,0.4);
                    font-size: 12px;
                    b{
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }
        .rightarrow{
            width: 10px;
            svg{
                width: 10px;
                height: 10px;
                fill: #000;
            }
        }
        
    }

    .sinmoredatarow{
        padding: 10px 20px;
        font-size: 0;
        background: #fff;
        margin: 0 0 10px;
        .secon{
            margin-top: 10px;
            border-top: 1px solid rgba(0,0,0,0.05);
            padding-top: 10px;
        }
        .lefttitle, .rightarrow{
            display: inline-block;
            vertical-align: middle;
        }
        .lefttitle{
            width: calc(100% - 10px);
            span{
                display: block;
                font-size: 14px;
                font-weight: bold;
                &.detail{
                    font-weight: normal;
                    color: rgba(0,0,0,0.4);
                    font-size: 12px;
                    b{
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
            .colorpackets{
                margin-top: 5px;
                span{
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    margin-right: 5px;
                }
            }
        }
        .rightarrow{
            width: 10px;
            svg{
                width: 10px;
                height: 10px;
                fill: #000;
            }
        }

        &.ratinglist{
            .rightarrow{
                vertical-align: top;
                position: relative;
                top: 5px;
            }
        }
        
    }
}

.shippingdatapopup{
    .MuiPaper-root{
        height: 100vh;
        background: #f5f5f5;
    }
}